.cognitive-echoes {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1000px;
  height: 1000px;
  margin-left: -500px;
  margin-top: -500px;
  border-radius: 50%;
  background: radial-gradient(circle, rgba(0,255,255,0.1), transparent 60%);
  mix-blend-mode: color-dodge;
  filter: blur(40px);
  opacity: 0;
  transition: all 1.2s ease-in-out;
  pointer-events: none;
  z-index: 1;
}
